<h1>Add Category</h1>
<form cForm [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="my-3">
    <label cLabel for="categoryName">Name</label>
    <input cFormControl formControlName="name" id="categoryName" type="text" />
  </div>
  <div class="mb-3">
    <label cLabel for="categoryDescription">Description</label>
    <textarea
      cFormControl
      formControlName="description"
      id="categoryDescription"
      type="text"
    ></textarea>
  </div>
  <div class="mb-3">
    <label cLabel for="formFile">Default file input example</label>
    <input
      cFormControl
      type="file"
      name="image"
      id="image"
      required
      accept="image/*"
      (change)="onFileChange($event)"
    />
  </div>
  <input cButton color="primary" type="submit" />
</form>
